<div class="main-wrapper">
  <div class="hero">
    <p class="subtitle">Contact me</p>
    <div class="contact-info">
      <div class="contact-item">
        <img src="../../../assets/images/Location.png" alt="" />
        <a class="text">Srbija, 15300 Loznica</a>
      </div>
      <div class="contact-item">
        <img src="../../../assets/images/Phone.png" alt="" />
        <a href="tel:+381655415128" class="text">+381655415128</a>
      </div>
      <div class="contact-item">
        <img src="../../../assets/images/Email.png" alt="" />
        <a href="mail:srdjanmarinkovic92@gmail.com" class="text">srdjanmarinkovic92@gmail.com</a>
      </div>
    </div>
    <p class="subtitle">Social networks</p>
    <ul>
      <li>
        <a href="https://www.facebook.com/srdjan.marinkovic/" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/_srkela_/" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/SrdjanMarinkovi" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/srdjan-marinkovic-1aa78b181/" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
