<div class="main-wrapper">
  <div class="hero">
    <p class="text">About me</p>
    <h1 class="title">My name is Srdjan Marinkovic</h1>
    <h4 class="subtitle">I am Full-Stack developer of web technology.</h4>
    <p class="text">
      Extremely motivated to constantly develop my skills and grow
      professionally. I am confident in my ability to come up with interesting
      ideas.
    </p>
  </div>
  <div class="hero"></div>
</div>

<div class="work-experience">
  <p class="text">Work experience</p>
  <ul>
    <li class="list">Alphasoft Dev | 2021-Present CEO and Founder</li>
    <li class="list">Lilly 021 | 2017-2019 Web Developer</li>
    <li class="list">gigaaa Ai | 2020-Present Frontend Developer</li>
  </ul>
</div>

<div class="work-experience">
  <p class="text">Technology stack</p>
  <ul>
    <li class="list">
      JavaScript
      <ul>
        <li>TypeSctipr</li>
        <li>Angular</li>
        <li>React.js</li>
        <li>React Native</li>
        <li>Node.js</li>
      </ul>
    </li>
    <li class="list">
      WordPress
      <ul>
        <li>Theme Development</li>
        <li>Woocommerce</li>
        <li>Page builders</li>
      </ul>
    </li>
    <li class="list">
      PHP
      <ul>
        <li>Symfony</li>
        <li>Laravel</li>
      </ul>
    </li>
    <li class="list">
      Other
      <ul>
        <li>Java</li>
        <li>Python</li>
      </ul>
    </li>
  </ul>
</div>
