.router-wrapper {
  background: linear-gradient(0deg, rgba(37, 46, 66, 0.9), rgba(37, 46, 66, 0.9));
  height: 90vh;
  overflow: scroll;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
