button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  min-width: 90px;
  color: white;
  font-size: 1em;
  cursor: pointer;
}
